<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large" slot="start">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div>
    <ion-slides class="full-width" pager="true" [options]="slideOpts">
      <ion-slide class="full-width" *ngFor="let news of newsList | slice: 0:5" style="padding: 5%;">
        <app-news [news]="news" [truncate]="truncate" class="card"></app-news>
      </ion-slide>
    </ion-slides>
    <div class="center padding-top">
      <ion-button size="small" (click)="uiService.openListModal(newsList, 'news')">See All Latest News</ion-button>
    </div>
  </div>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Folders</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-folder-list [folders]="folders"></app-folder-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
