.image-container {
  float: left;
  white-space: normal;
  margin-right: 2em;
}

.image {
  border-radius: 50%;
}

.title {
  font-size: 1.25em;
  color: #FFFFFF;
}

.sub-title {
  font-size: 1em;
  color: #999999;
}

.bold {
  font-weight: bold;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.header {
  margin: .2em 2em .1em 2em;
}

.slides {
  width: 100%;
}
